<section class="menu-lateral">
  <header>
    <img src="assets/img/OIG2-removebg-preview.png" />
  </header>
  <nav>
    <p>Pomar Pro</p>
    <a routerLink="/home">Home</a>
    <details>
        <summary>Administração</summary>
        <div>
            <a routerLink="/cadUsuario">Usuario</a>
            <a routerLink="/material">Material</a>
            <a routerLink="/produto">Produto</a>
        </div>
    </details>
    <details>
        <summary>Pomar</summary>
    <div>
        <a routerLink="/cadastro">Cadastro</a>
        <a routerLink="/movimento">Movimento</a>
        <a routerLink="/colheita">Colheita</a>
    </div>
    </details>
  </nav>
</section>
